body{
    background-image: url(../images/Background.png);
    background-size:cover;
    background-position: center;
    --tw-bg-opacity: 1;
    background-color: rgba(34, 14, 56, 0.884);
    font-family: Inter,sans-serif;
    letter-spacing: -0.01em;
    --tw-text-opacity: 1;
    color: rgb(241 245 249/var(--tw-text-opacity));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

button,select {
    text-transform: none
}
:-moz-focusring {
    outline: auto
}
:-moz-ui-invalid {
    box-shadow: none
}
progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}
.inline-flex{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-7{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
.text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.font-medium{
    font-weight: 500;
}

.rounded-lg{
    border-radius: 0.5rem;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0
}


img,video {
    max-width: 100%;
    height: auto
}
input::-moz-placeholder,textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
}

input::placeholder,textarea::placeholder {
    color: #6b7280;
    opacity: 1
}

.cgnl7 {
    font-size: 2.75rem;
    line-height: 1.2;
    letter-spacing: -0.017em;
    font-weight: 800
}

.cr09c {
    font-size: 2.25rem;
    line-height: 1.277;
    letter-spacing: -0.017em;
    font-weight: 800
}


.cmae3,.clnk2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.308);
    font-size: 0.875rem;
    line-height: 1.5715;
    font-weight: 500;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}
.cmae3 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem
}

.clnk2 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}


.swiper-button-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5
}

.testimonials-carousel .swiper-slide {
    opacity: 0.8
}

.testimonials-carousel .swiper-slide.swiper-slide-active {
    opacity: 1
}

@keyframes pulseLoop {
    0% {
        opacity: 0;
        transform: scale(.25) translateZ(0)
    }

    30% {
        opacity: .4
    }

    70% {
        opacity: 0
    }

    80% {
        transform: scale(1) translateZ(0)
    }
}

.c75d5 {
    opacity: 0;
    transform-origin: center;
    animation: pulseLoop 12000ms linear infinite
}

.ci2pq {
    animation-delay: -4000ms
}

.cojy9 {
    animation-delay: -8000ms
}

.c0wqh {
    transform: translateZ(0)
}


.c431g {
    pointer-events: none
}

.clpqf {
    visibility: visible
}

.cmeut {
    visibility: collapse
}

.c3ilm {
    position: static
}

.cl2cn {
    position: absolute
}

.ca60c {
    position: relative
}

.cybx8 {
    position: sticky
}

.c9pxh {
    inset: 0px
}

.cl2el {
    bottom: 0px
}

.clndv {
    left: 0px
}

.cddhp {
    left: 50%
}

.cyovi {
    left: 66.666667%
}

.cm7vm {
    right: 0px
}

.c2aec {
    top: 0px
}

.crsw9 {
    top: 50%
}

.c1yxx {
    top: 2.75rem
}

.c0mvq {
    z-index: -10
}

.c64tv {
    z-index: 20
}

.c5r67 {
    z-index: 30
}

.c2te9 {
    order: 1
}

.cemb7 {
    order: -9999
}

.c5ou5 {
    margin: -0.25rem
}

.cu5ju {
    margin: -0.375rem
}

.c0ri6 {
    margin: 0.25rem
}

.ctg6m {
    margin: 0.375rem
}

.cr2p6 {
    margin-left: -7rem;
    margin-right: -7rem
}

.cknuf {
    margin-left: auto;
    margin-right: auto
}

.cnztc {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.cts7m {
    margin-bottom: -5rem
}

.cim0s {
    margin-left: -4rem
}

.cvb2e {
    margin-left: -8rem
}

.cejs8 {
    margin-top: -3rem
}

.cclmt {
    margin-top: -6rem
}

.c1v3c {
    margin-top: -9rem
}

.csy0a {
    margin-top: -1.5rem
}

.ceq85 {
    margin-bottom: 0.25rem
}

.ccjis {
    margin-bottom: 2.5rem
}

.cjvyj {
    margin-bottom: 0.5rem
}

.c8p73 {
    margin-bottom: 0.75rem
}

.cznm6 {
    margin-bottom: 1rem
}

.cgvph {
    margin-bottom: 1.25rem
}
.cil4g {
    margin-bottom: 1.5rem
}

.cvj3n {
    margin-bottom: 2rem
}

.ctkza {
    margin-left: 0.25rem
}

.c9et2 {
    margin-left: 0.5rem
}
.cn6g2 {
    margin-left: 0.75rem
}
.ce6vk {
    margin-left: 1.5rem
}
.ce6vkk {
    margin-left: 2rem
}
.cvfgj {
    margin-right: 0.5rem
}

.ckcxm {
    margin-right: 0.75rem
}

.cgtgw {
    margin-right: 1rem
}

.c24wt {
    margin-top: 0px
}

.cn53t {
    margin-top: 0.25rem
}

.cuwsu {
    margin-top: 0.5rem
}

.cdl2f {
    margin-top: 1rem
}

.cbrly {
    margin-top: 1.5rem
}

.cxce1 {
    margin-top: 2rem
}

.c5puz {
    display: block
}

.c6423 {
    display: inline
}

.cs2x1 {
    display: flex
}

.cwkz6 {
    display: inline-flex
}

.c5uid {
    display: table
}

.cq0og {
    display: grid
}

.c4c8i {
    display: none
}

.cmfhc {
    aspect-ratio: 1/1
}

.c7ux4 {
    height: 25%
}

.c2hko {
    height: 3rem
}

.cr9dw {
    height: 4rem
}

.c1aa5 {
    height: 6rem
}

.c3kur {
    height: 8rem
}

.cn056 {
    height: 1rem
}

.ctrzp {
    height: 12rem
}

.c88g2 {
    height: 1.5rem
}

.cogav {
    height: 16rem
}

.cqwyn {
    height: 2rem
}

.c2khh {
    height: 20rem
}

.ckn6y {
    height: 2.25rem
}

.c99zm {
    height: 200%
}

.cw489 {
    height: 480px
}

.cxwvo {
    height: 500px
}

.c4im5 {
    height: auto
}

.c0tib {
    height: 100%
}

.cq32i {
    min-height: 100vh
}

.czmgy {
    width: auto!important
}

.cucbd {
    width: 50%
}

.cmd0z {
    width: 33.333333%
}

.cgfe7 {
    width: 25%
}

.coqdu {
    width: 2.75rem
}

.c87jw {
    width: 3rem
}

.c1eqw {
    width: 4rem
}

.cwn2x {
    width: 1rem
}

.cjkfk {
    width: 12rem
}

.cjwbb {
    width: 2rem
}

.ca67m {
    width: 20rem
}

.c7pw1 {
    width: 480px
}

.cr6m4 {
    width: 500px
}

.cn7ud {
    width: -moz-fit-content;
    width: fit-content
}

.cytoa {
    width: 100%
}

.cz30m {
    max-width: 48rem
}

.cy8ux {
    max-width: 56rem
}

.chyag {
    max-width: 72rem
}

.c756i {
    max-width: 28rem
}

.cxjf2 {
    max-width: none
}

.ctzt1 {
    max-width: 24rem
}

.cpmx3 {
    max-width: 36rem
}

.chnsh {
    max-width: 20rem
}

.cw4n2 {
    flex-shrink: 0
}

.cfck1 {
    flex-grow: 1
}

.cbixb {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cvfij {
    --tw-translate-x: -1rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ch5up {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.curw3 {
    --tw-translate-y: -25%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cqeai {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cheat {
    --tw-translate-x: 1rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cqedr {
    --tw-translate-y: 50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cufi6 {
    --tw-rotate: -14deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cceml {
    --tw-rotate: -60deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c09ga {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.clrih {
    --tw-rotate: 60deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ciusd {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes endless {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-245px)
    }
}

.cy9m5 {
    animation: endless 20s linear infinite
}

.caqog {
    cursor: pointer
}

.cyvt8 {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.c2emf {
    resize: both
}

.cpv00 {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.cmfih {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.c8rkc {
    flex-direction: column
}

.cj38p {
    flex-wrap: wrap
}

.cikz0 {
    align-items: flex-start
}

.cxwsr {
    align-items: center
}

.coq9a {
    justify-content: flex-end
}

.crt5c {
    justify-content: center
}

.clfke {
    justify-content: space-between
}

.c9bxp {
    gap: 1.5rem
}

.cld7d {
    gap: 2rem
}

.cmru4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*calc(1 - var(--tw-space-x-reverse)))
}

.ci23e>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem*var(--tw-space-x-reverse));
    margin-left: calc(0.75rem*calc(1 - var(--tw-space-x-reverse)))
}

.c99qc>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem*var(--tw-space-x-reverse));
    margin-left: calc(1rem*calc(1 - var(--tw-space-x-reverse)))
}

.cb8dn>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--tw-space-y-reverse))
}

.csz2t>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem*var(--tw-space-y-reverse))
}

.c4kk7>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse))
}

.ckhk3>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 1
}

.c9aqo>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px*calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse))
}

.cw6m1>:not([hidden])~:not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(30 41 59/var(--tw-divide-opacity))
}

.co970 {
    overflow: hidden
}

.cblke {
    white-space: nowrap
}

.c8r68 {
    border-radius: 0.25rem
}

.cm6wp {
    border-radius: 1rem
}

.cjbis {
    border-radius: 2rem
}

.c2whg {
    border-radius: 3rem
}

.chrb3 {
    border-radius: inherit
}

.cky3t {
    border-radius: 9999px
}

.cd5aa {
    border-radius: 0.375rem
}

.cpa88 {
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem
}

.cu7zb {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem
}

.cv8z6 {
    border-width: 1px
}

.c51a4 {
    border-width: 0px
}

.ck2gv {
    border-width: 2px
}

.cw8rx {
    border-bottom-width: 1px
}

.col7s {
    border-bottom-width: 2px
}

.cqax3 {
    border-top-width: 1px
}

.c7zlo {
    --tw-border-opacity: 1;
    border-color: rgb(102, 20, 168/var(--tw-bg-opacity))
}

.cl087 {
    --tw-border-opacity: 1;
    border-color: rgb(102, 20, 168/var(--tw-bg-opacity))
}

.cxwxt {
    --tw-border-opacity: 1;
    border-color: rgb(102, 20, 168/var(--tw-bg-opacity))
}

.c91qe {
    --tw-border-opacity: 1;
    color: #760ca0;
}

.c3ebo {
    --tw-border-opacity: 1;
    border-color: rgb(102, 20, 168/var(--tw-bg-opacity))
}

.c16tt {
    border-color: transparent
}


.cp73f {
    --tw-bg-opacity: 1;
    background-color: rgba(34, 14, 56, 0.884)
}

.clbrg {
    --tw-bg-opacity: 0.25
}

.cmmug {
    background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.cpb1t {
    --tw-gradient-from: #a855f7 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(168 85 247 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cr2fi {
    --tw-gradient-from: rgb(226 232 240 / 0.6) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(226 232 240 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c53mx {
    --tw-gradient-from: rgb(255 255 255 / 0.8) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.chaw1 {
    --tw-gradient-to: rgb(226 232 240 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #e2e8f0 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.ccarb {
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #fff var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.c6mtw {
    --tw-gradient-to: #e9d5ff var(--tw-gradient-to-position)
}

.ch3zp {
    --tw-gradient-to: rgb(226 232 240 / 0.6) var(--tw-gradient-to-position)
}

.cvpag {
    --tw-gradient-to: rgb(255 255 255 / 0.8) var(--tw-gradient-to-position)
}

.cicf4 {
    -webkit-background-clip: text;
    background-clip: text
}

.cfck2 {
    fill: currentColor
}

.cdjcq {
    fill: #a855f7
}

.c64e7 {
    fill: #e2e8f0
}

.c03dg {
    fill: #cbd5e1
}

.cqpoa {
    fill: #64748b
}

.cyjyd {
    padding: 0.25rem
}

.clcaa {
    padding: 1.5rem
}

.cdgtm {
    padding: 1px
}

.cz0a2 {
    padding-left: 0px;
    padding-right: 0px
}

.capob {
    padding-left: 0.125rem;
    padding-right: 0.125rem
}

.csc0h {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}

.ck7tl {
    padding-left: 1rem;
    padding-right: 1rem
}

.ct1d8 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.cpn3c {
    padding-left: 2rem;
    padding-right: 2rem
}

.cbejh {
    padding-top: 0px;
    padding-bottom: 0px
}

.c8cvf {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem
}

.ch0b9 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}

.c78up {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem
}

.ctvyg {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.cagov {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

.c6cak {
    padding-top: 6rem;
    padding-bottom: 6rem
}

.cpb5v {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.cgkfe {
    padding-bottom: 0px
}

.ct60r {
    padding-bottom: 0.125rem
}

.c1mbe {
    padding-bottom: 0.25rem
}

.cz74e {
    padding-bottom: 3rem
}

.csfv3 {
    padding-bottom: 4rem
}

.c0xld {
    padding-bottom: 0.75rem
}

.ckopp {
    padding-bottom: 1rem
}

.c9ls2 {
    padding-bottom: 1.25rem
}

.camr2 {
    padding-bottom: 1.5rem
}

.cb16y {
    padding-top: 0px
}

.csaom {
    padding-top: 3rem
}

.c4w2r {
    padding-top: 4rem
}

.ccyse {
    padding-top: 8rem
}

.c1xp8 {
    text-align: center
}

.ce3al {
    text-align: right
}

.curfr {
    font-family: Inter,sans-serif
}

.conhi {
    font-size: 1.5rem;
    line-height: 1.415;
    letter-spacing: -0.017em
}

.cn6cd {
    font-size: 1.875rem;
    line-height: 1.333;
    letter-spacing: -0.017em
}

.c8hnl {
    font-size: 2.25rem;
    line-height: 1.277;
    letter-spacing: -0.017em
}

.cj67s {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -0.017em
}

.cd2du {
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.017em
}

.cqnsz {
    font-size: 0.875rem;
    line-height: 1.5715
}

.c9qka {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: -0.017em
}

.c6gxk {
    font-size: 0.75rem;
    line-height: 1.5
}

.cokyf {
    font-weight: 700
}

.ciph8 {
    font-weight: 500
}

.cik1s {
    font-style: italic
}

.ctfx3 {
    letter-spacing: 0
}

.cbwtk {
    letter-spacing: -0.01em
}

.cvrrf {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.crc6y {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.ckgit {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

.c56f5 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity))
}

.c14nf {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.c3n3u {
    --tw-text-opacity: 1;
    color: rgb(79 70 229/var(--tw-text-opacity))
}

.cym0n {
    --tw-text-opacity: 1;
    color: rgb(216 180 254/var(--tw-text-opacity))
}

.ct2xv {
    --tw-text-opacity: 1;
    color: rgb(168 85 247/var(--tw-text-opacity))
}

.c0mi0 {
    --tw-text-opacity: 1;
    color: rgb(244 63 94/var(--tw-text-opacity))
}
.cqpzc {
    --tw-text-opacity: 1;
    color: rgb(241 245 249/var(--tw-text-opacity))
}
.czs2g {
    --tw-text-opacity: 1;
    color: rgb(226 232 240/var(--tw-text-opacity))
}

.cuxtl {
    --tw-text-opacity: 1;
    color: rgb(87, 23, 148/var(--tw-text-opacity))
}

.cfoch {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity))
}

.crdoi {
    --tw-text-opacity: 1;
    color: rgb(248 250 252/var(--tw-text-opacity))
}

.c2v91 {
    --tw-text-opacity: 1;
    color: rgb(100 116 139/var(--tw-text-opacity))
}

.ctd13 {
    --tw-text-opacity: 1;
    color: rgb(71 85 105/var(--tw-text-opacity))
}

.culnm {
    --tw-text-opacity: 1;
    color: rgb(15 23 42/var(--tw-text-opacity))
}

.c9sxu {
    --tw-text-opacity: 1;
    color: rgb(20 184 166/var(--tw-text-opacity))
}

.cjeaj {
    color: transparent
}

.c3tz6 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.cewg7 {
    text-decoration-line: underline
}

.cthh7 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}



.cptoy {
    outline-color: #94a3b8
}

.cui23 {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.citek {
    --tw-blur: blur(40px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cxp9g {
    --tw-blur: blur(120px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.c6qdr {
    --tw-blur: blur(2px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cexn0 {
    --tw-blur: blur(40px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.c07gv {
    --tw-blur: blur(60px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.ctwv8 {
    --tw-blur: blur(80px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cn1jl {
    --tw-blur: blur(12px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cyjig {
    --tw-invert: invert(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cg73k {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cco4s {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.ctg4d {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cmltl {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cd1bq {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cot2b {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.c37c4 {
    transition-delay: 200ms
}

.cbf6n {
    transition-delay: 300ms
}

.cykc9 {
    transition-duration: 150ms
}

.ce7oy {
    transition-duration: 300ms
}

.cqp1f {
    transition-duration: 500ms
}

.c1btp {
    transition-duration: 700ms
}

.cmehy {
    transition-timing-function: linear!important
}

.cowqa {
    transition-timing-function: cubic-bezier(0.68,-0.3,0.32,1)
}

.c2rol {
    transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}

.cd083 {
    transition-timing-function: cubic-bezier(0,0,0.2,1)
}
.c5dkh{
    margin-left: 0.5rem;
    padding-right: 1.5rem;
}
.c0xh0 {
    will-change: transform
}
.codp6 {
    background: repeating-linear-gradient(90deg,transparent,transparent 48px,#a855f7 48px,#a855f7 49px)
}

.c686l {
    background: repeating-linear-gradient(90deg,transparent,transparent 48px,#fff 48px,#fff 49px)
}

.czz23 {
    background: repeating-linear-gradient(transparent,transparent 48px,#a855f7 48px,#a855f7 49px)
}

.c9kso {
    background: repeating-linear-gradient(transparent,transparent 48px,#fff 48px,#fff 49px)
}

.csomw {
    background: linear-gradient(#a855f7,#a855f7) padding-box,linear-gradient(#a855f7,#e9d5ff 75%,transparent 100%) border-box
}

.cuogv {
    background: rgba(34, 14, 56, 0.884) 
}

.c92df {
    -webkit-mask-image: linear-gradient(0deg,transparent,#fff 40%,#fff);
    mask-image: linear-gradient(0deg,transparent,#fff 40%,#fff)
}

.cgjd2 {
    -webkit-mask-image: radial-gradient(black,transparent 60%);
    mask-image: radial-gradient(black,transparent 60%)
}

[x-cloak=""] {
    display: none
}

.cm39l::before {
    content: var(--tw-content);
    pointer-events: none
}

.cc4v0::before {
    content: var(--tw-content);
    position: absolute
}

.cqez1::before {
    content: var(--tw-content);
    inset: 0px
}

.cuze9::before {
    content: var(--tw-content);
    left: -12rem
}

.cvrel::before {
    content: var(--tw-content);
    top: -12rem
}

.ctajg::before {
    content: var(--tw-content);
    z-index: -20
}

.c0h98::before {
    content: var(--tw-content);
    z-index: 10
}

.c0xhb::before {
    content: var(--tw-content);
    z-index: 20
}

.czub9::before {
    content: var(--tw-content);
    z-index: 30
}

.cj2hd::before {
    content: var(--tw-content);
    height: 1.25rem
}

.cu486::before {
    content: var(--tw-content);
    height: 24rem
}

.crvsw::before {
    content: var(--tw-content);
    width: 8rem
}

.c52wh::before {
    content: var(--tw-content);
    width: 1.25rem
}

.cp5f4::before {
    content: var(--tw-content);
    width: 24rem
}

.chxq1::before {
    content: var(--tw-content);
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cs5rb::before {
    content: var(--tw-content);
    --tw-translate-x: var(--mouse-x);
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cprit::before {
    content: var(--tw-content);
    --tw-translate-y: var(--mouse-y);
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ct5xr::before {
    content: var(--tw-content);
    border-radius: 1rem
}

.ch9g6::before {
    content: var(--tw-content);
    border-radius: 9999px
}

.cpt2o::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(168 85 247/var(--tw-bg-opacity))
}

.cypz5::before {
    content: var(--tw-content);
    background-color: rgb(30 41 59/0.3)
}

.cuhzf::before {
    content: var(--tw-content);
    background-color: rgb(30 41 59/0.5)
}

.cc40n::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.cn2me::before {
    content: var(--tw-content);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops))
}

.ckrgn::before {
    content: var(--tw-content);
    background-image: linear-gradient(to left,var(--tw-gradient-stops))
}

.cfnmv::before {
    content: var(--tw-content);
    background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.c8yob::before {
    content: var(--tw-content);
    --tw-gradient-from: rgb(148 163 184 / 0.2) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(148 163 184 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cb98v::before {
    content: var(--tw-content);
    --tw-gradient-from: #0f172a var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(15 23 42 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c80l1::before {
    content: var(--tw-content);
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cxbfo::before {
    content: var(--tw-content);
    --tw-gradient-to: #0f172a var(--tw-gradient-to-position)
}

.c8u7w::before {
    content: var(--tw-content);
    --tw-gradient-to: transparent var(--tw-gradient-to-position)
}

.cy3ub::before {
    content: var(--tw-content);
    --tw-gradient-to-position: 20%
}

.cb0qf::before {
    content: var(--tw-content);
    opacity: 0
}

.cgxyp::before {
    content: var(--tw-content);
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.c2vtn::before {
    content: var(--tw-content);
    --tw-blur: blur(100px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cimec::before {
    content: var(--tw-content);
    --tw-blur: blur(12px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.chx0y::before {
    content: var(--tw-content);
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cct5k::before {
    content: var(--tw-content);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.ctdng::before {
    content: var(--tw-content);
    transition-duration: 150ms
}

.c1e1k::before {
    content: var(--tw-content);
    transition-duration: 500ms
}

.ctgyu::after {
    content: var(--tw-content);
    pointer-events: none
}

.cysd2::after {
    content: var(--tw-content);
    position: absolute
}

.cgxgf::after {
    content: var(--tw-content);
    inset: 0px
}

.c45xe::after {
    content: var(--tw-content);
    left: auto
}

.cezux::after {
    content: var(--tw-content);
    z-index: -20
}

.cv2ch::after {
    content: var(--tw-content);
    z-index: 10
}

.cur8q::after {
    content: var(--tw-content);
    z-index: 20
}

.crfzi::after {
    content: var(--tw-content);
    margin: 1px
}

.c1o86::after {
    content: var(--tw-content);
    width: 8rem
}

.cdlvo::after {
    content: var(--tw-content);
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.caiin::after {
    content: var(--tw-content);
    border-radius: inherit
}

.cvayk::after {
    content: var(--tw-content);
    border-radius: 9999px
}

.cz7tq::after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity))
}

.chum8::after {
    content: var(--tw-content);
    background-image: linear-gradient(to left,var(--tw-gradient-stops))
}

.ct9mr::after {
    content: var(--tw-content);
    background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.c9ygy::after {
    content: var(--tw-content);
    --tw-gradient-from: #0f172a var(--tw-gradient-from-position);
    --tw-gradient-to: rgba(45, 82, 168, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ckqgz::after {
    content: var(--tw-content);
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.corv8::after {
    content: var(--tw-content);
    --tw-gradient-to: #0f172a var(--tw-gradient-to-position)
}

.cgemu::after {
    content: var(--tw-content);
    --tw-gradient-to-position: 20%
}

.cegds::after {
    content: var(--tw-content);
    opacity: 0
}

.cb5el::after {
    content: var(--tw-content);
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cd6it::after {
    content: var(--tw-content);
    transition-duration: 500ms
}

.c9c9x:first-of-type {
    padding-top: 0px
}

.cj4vv:last-of-type {
    padding-bottom: 0px
}

.cvh84:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(147 51 234/var(--tw-bg-opacity))
}

.cnen9:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.cfn05:hover {
    --tw-bg-opacity: 0.3
}

.c78tz:hover {
    --tw-text-opacity: 1;
    color: rgb(192 132 252/var(--tw-text-opacity))
}

.cib6f:hover {
    --tw-text-opacity: 1;
    color: rgb(226 232 240/var(--tw-text-opacity))
}

.c5dkl:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.cikge:hover {
    opacity: 1
}


.cshfy:focus {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0/var(--tw-border-opacity))
}

.csr5n:focus {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.cn7li:focus {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128/var(--tw-border-opacity))
}

.chy0e:focus {
    --tw-border-opacity: 1;
    border-color: rgb(165 180 252/var(--tw-border-opacity))
}

.cf2pj:focus {
    border-color: transparent
}

.c2p8u:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.c282u:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.clx26:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.cariz:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.crbbj:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.cpgtz:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity))
}

.cfavm:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity))
}

.ctsfc:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity))
}

.cifub:focus {
    --tw-ring-opacity: 0.5
}

.ct2oj:focus {
    --tw-ring-offset-width: 0px
}

.cs5t9:focus {
    --tw-ring-offset-width: 2px
}

.cxxlx:hover .ct023 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cxxlx:hover .c8087 {
    --tw-translate-x: 0.125rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cxxlx:hover .ca7b4 {
    fill: #ffffff
}

.c7nu9:hover .cffk1 {
    opacity: 1
}

.cxxlx:hover .cahiq::after {
    content: var(--tw-content);
    opacity: 1
}

.c7nu9.swiper-slide-active .cx92y {
    --tw-bg-opacity: 1;
    background-color: rgb(168 85 247/var(--tw-bg-opacity))
}

.c7nu9.swiper-slide-active .cxlvw {
    opacity: 1
}

.cw5r2:checked~.cow8e {
    --tw-bg-opacity: 1;
    background-color: rgb(168 85 247/var(--tw-bg-opacity))
}

.cw5r2:checked~.c5tt9::before {
    content: var(--tw-content);
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cw5r2:focus-visible~.c74bn {
    outline-style: solid
}

.cw5r2:focus-visible~.ctrkw {
    outline-offset: 2px
}

.cw5r2:focus-visible~.cnoqz {
    outline-color: #9ca3af
}

.cw5r2:checked:focus-visible~.cafcq {
    outline-color: #ffffff
}



@media (min-width: 640px) {
    .c64tz {
        grid-column:span 12/span 12
    }

    .c7197 {
        grid-column: span 6/span 6
    }

    .crx0u {
        margin-bottom: 0px
    }

    .c0bgf {
        display: inline-flex
    }

    .c2mz6 {
        max-width: none
    }

    .cmmqp {
        grid-template-columns: repeat(12,minmax(0,1fr))
    }

    .c5svh {
        flex-direction: row
    }

    .c7xko {
        justify-content: center
    }

    .cpdb4>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1rem*var(--tw-space-x-reverse));
        margin-left: calc(1rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .c5cwt>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px*calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px*var(--tw-space-y-reverse))
    }

    .cj5a0 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media (min-width: 768px) {
    .cu5fu {
        position:relative
    }

    .c9jv3 {
        left: 0px
    }

    .chnvr {
        order: 0
    }

    .cr3j3 {
        grid-column: span 12/span 12
    }

    .cu3kj {
        grid-column: span 3/span 3
    }

    .cy7um {
        grid-column: span 5/span 5
    }

    .cid9a {
        grid-column: span 7/span 7
    }

    .cuxmb {
        display: block
    }

    .cukpx {
        display: none
    }

    .c05f2 {
        height: 5rem
    }

    .c926l {
        height: auto
    }

    .c27yn {
        width: 41.666667%
    }

    .cpign {
        width: 58.333333%
    }

    .cjfzm {
        max-width: 56rem
    }

    .cl1ed {
        max-width: 480px
    }

    .c41ju {
        max-width: 100%
    }

    .c85ax {
        max-width: none
    }

    .c11ot {
        --tw-translate-x: 0px;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .cv2mg {
        grid-template-columns: repeat(12,minmax(0,1fr))
    }

    .cvsfa {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .c5rb1 {
        grid-template-columns: repeat(3,minmax(0,1fr))
    }

    .cdi99 {
        grid-template-columns: repeat(4,minmax(0,1fr))
    }

    .cg7n6 {
        flex-direction: row
    }

    .c49l0 {
        align-items: center
    }

    .ciajx {
        justify-content: space-between
    }

    .clfvo {
        gap: 3rem
    }

    .cy4yt>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2rem*var(--tw-space-x-reverse));
        margin-left: calc(2rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .cucdv>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px*calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px*var(--tw-space-y-reverse))
    }

    .cvxo6 {
        border-bottom-width: 1px
    }

    .cjanb {
        padding: 2rem
    }

    .cwki0 {
        padding-top: 3rem;
        padding-bottom: 3rem
    }

    .cy0uw {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .c2x5m {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .cpnha {
        padding-bottom: 5rem
    }

    .c9me8 {
        padding-bottom: 8rem
    }

    .cq699 {
        padding-bottom: 2rem
    }

    .c7gt9 {
        padding-right: 0px
    }

    .cksyi {
        padding-top: 5rem
    }

    .ctga0 {
        padding-top: 8rem
    }

    .cam60 {
        padding-top: 10rem
    }

    .cxnp8 {
        padding-top: 13rem
    }

    @media not all and (min-width: 1024px) {
        .c1f8s {
            display:none
        }
    }
}
